doctype html
html(lang='ru')
  include pug/head.pug
  body#pageMain
    .pagewrapper
      include pug/header.pug
      main
        include pug/promo.pug
        include pug/business.pug
        include pug/history.pug
        include pug/cases.pug
        include pug/advantages.pug
        include pug/income.pug

    include pug/scripts.pug