include pug/modal.pug

doctype html
html(lang='ru')
  include pug/head.pug
  body
    .pagewrapper.pagewrapper_thanks
      include pug/header.pug
      main.main_thanks
        include pug/thanks-section.pug
      include pug/footer.pug


    include pug/modal-policy.html
    +modal('modal-4', 'Задайте вопросы о франшизе менеджеру компании FLATHOUSEDESIGN', 'Заказать звонок', 'img/modal/bg-modal-4.png')

    include pug/scripts.pug