-
  var list = [
    'Передадим 3 заявки на дизайн-проекты',
    'Поможем нанять квалифицированных сотрудников',
    'Создадим рабочий чат по операционным вопросам с командой и собственником компании',
    'Предоставим право пользования товарным знаком и фирменным стилем',
    'Проведём 3-дневное обучение партнёра технологиям управления бизнесом',
    'Поможем в заключении договоров с федеральными партнёрами по технике и мебели на выгодных условиях',
    'Проанализируем до 5 подобранных локаций под офис и поможем заключить выгодный договор аренды',
    'Проведём совместный анализ конкурентов и поставщиков',
    'Поможем создать карточки компании в геосервисах: 2GIS, Яндекс.Карты, Google Maps и настроить рекламные кампании на регион партнёра',
    'Проведём анализ управленческого учёта партнёра и предоставим рекомендации по увеличению финансовых показателей партнёра',
    'Поможем в организации офлайн-маркетинга',
  ]

section.adv-section
  .container
    h2.title <span class="title-red">Преимущества</span> франшизы FLATHOUSEDESIGN
    .adv-subtitle Главное преимущество франшизы — полная поддержка партнёра головной компанией, куда входит передача успешно опробованных технологий и ноу-хау, обучение и консультации по вопросам организации бизнеса, а также ряд дополнительных услуг, входящих в стоимость паушального взноса.
    .adv-support-title Поддержка партнёра на этапе запуска
    .adv-list-wrapper
      ul.adv-list-column
        each item, idx in list.filter((el, i) => i % 2 === 0)
          li(style=idx === 0 ? 'font-weight: 600' : '')= item
      ul.adv-list-column
        each item in list.filter((el, i) => i % 2 === 1)
          li= item
    .adv-price-wrapper
      p Стоимость паушального взноса 450 000 руб
      button.btn(data-fancybox, href='#modal-3')
        span Подробнее о поддержке
  img.adv-right-bg(src='img/advantages/right-bg.png', alt='right-bg')