footer.footer
  .container
    .footer-wrapper
      .footer-left
        .footer-company FLATHOUSEDESIGN ®, <br> 2017-2024 г.
        .footer-ip ИП Третьякова Оксана Александровна, <br> ИНН 183113081666
        .footer-city
          img(src='img/footer/city.png', alt='city')
          span Удмуртская Республика, <br> город Ижевск
      .footer-center
        a(href='index.html')
          img.footer-logo(src='img/footer/logo.png', alt='logo')
        .footer-russia
          span Сделано в России
          img(src='img/footer/russia-flag.png', alt='russia')
      .footer-right
        include call
        a.footer-policy(href='#modal-policy', data-fancybox) Политика конфиденциальности
        a.footer-f5(href='https://xn--5-7sbamtgf4aex7b0b.xn--p1ai/', target='_blank')
          img(src='img/footer/f5-logo.png', alt='f5')
          span «Франчайзинг5» — упаковка <br> и продвижение франшиз