section.history-section
  .container
    .history-content
      h2.title <span class="title-red">История успеха:</span> от работы фрилансером до собственной студии
      .history-subtitle Студия дизайна FLATHOUSEDESIGN была основана в 2017 году в г. Ижевске.
      .history-text
        span У основательницы компании имеется большой опыт работы с удалёнными сотрудниками, благодаря чему сейчас большая часть процессов в студии чётко регламентирована и ведётся без непосредственного контроля собственника.
        span «Сперва я работала одна, потом поняла, что заказов становится много, и стала задумываться о помощнике. Теперь в студии работают 12 человек, но компания на этом не останавливается, постоянно принимает новых специалистов, которые готовы постоянно повышать свой уровень и расти вместе с компанией».
      button.btn.history-button
        span Подробнее о компании
  .history-owner
    .history-owner-text
      span Третьякова Оксана <br> Александровна
        p владелица студии
    img(src='img/history/owner.png', alt='owner')