mixin modal(id, title, button, img)
  .modal(id=id)
    .modal-wrapper
      form
        .modal-title= title
        .modal-inputs-wrapper
          include form-input-phone
          include form-input-name
          include form-input-email
          button.btn.modal-button
            span= button
          include form-policy

    img.modal-img(src=img, alt='img')