section.order-section
  .container
    .order-content
      h2.title <span class="title-red">Откройте бизнес в сфере дизайна интерьера на выгодных условиях:</span> полная поддержка опытного партнёра и передача первых клиентов от головной компании
      .order-subtitle
        p Присоединяйтесь к опытной команде FLATHOUSEDESIGN и получите готовый системный бизнес в востребованной творческой нише с высоким средним чеком и <span>чистой прибылью от 5 000 000 ₽ в год.</span>
      .order-feedback-title Оставьте заявку прямо сейчас и получите:
      ul.order-feedback-list
        li Пошаговый план запуска вашей дизайн-студии
        li Индивидуальный расчёт вашей прибыли по франшизе
    form.openform
      .openform-title Получите подробную консультацию по франшизе FLATHOUSEDESIGN
      .openform-inputs-wrapper
        include form-input-phone
        include form-input-email
        include form-input-name
        button.btn
          span Получить презентацию
      include form-policy