.form-input  {
  height: int(60,90);
  width: 100%;
  background: left 15px top 50% no-repeat, #fff;
  border-style: none;
  padding-left: 62px;
  padding-right: 10px;
  font-size: 16px;
  &::placeholder {
    color: #868892;
  }
  &[name="phone"] {
    background-image: url('../img/form/phone.svg');
  }
  &[name="email"] {
    background-image: url('../img/form/email.svg');
  }
  &[name="name"] {
    background-image: url('../img/form/name.svg');
  }
}

.openform {
  margin-top: 30px;
  background: #F6F6F6;
  padding: int(20,40);
  button {
    height: int(60,90);
    span {
      font-size: int(15,18);
    }
  }
}

.openform-title {
  font-family: "Tenor Sans", sans-serif;
  font-size: int(22,32);
  text-align: center;
}

.openform-inputs-wrapper {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 311fr) 345fr;
  gap: 14px;
  @include m(991) {
    grid-template-columns: 1fr 1fr;
  }
  @include m(575) {
    grid-template-columns: 100%;
  }
}

.form-policy {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  color: #868892;
  img {
    position: relative;
    bottom: 3px;
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

label.error {
  display: none !important;
}

input.error {
  outline: 1px solid #ff3e3e;
  border: none;
}