.fancybox__content {
  padding: 0;
  color: initial;
}

.modal {
  display: none;
  border-radius: int(20,30);
  background: #F6F6F6;
  max-width: 862px;
  padding: int(20,40);
  position: relative;
  .form-policy {
    margin: 0;
  }
  .form-input {
    height: int(60,70);
  }
}

.modal-button {
  height: int(60,70);
  span {
    font-size: 16px;
  }
}

.modal-wrapper {
  width: 54%;
  margin-left: auto;
  position: relative;
  z-index: 1;
}

.modal-title {
  font-family: "Tenor Sans", sans-serif;
  font-size: int(20,30);
}

.modal-inputs-wrapper {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.modal-img {
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 100%;
}

@include m(767) {
  .modal-img {
    display: none;
  }
  .modal-wrapper {
    width: 100%;
  }
  .modal {
    max-width: 400px;
  }
}